.count{
  display: grid;
  grid-template: 1fr 0.75fr 0.75fr 0.75fr/ 1fr 1fr;
  grid-gap: 5px;
  width: 100%;
  height: 100%;
  color: whitesmoke;

}

.count> *{
  border: 1.5px solid blue;
  border-radius: 10px;
  background-color: rgba(32, 221, 42, 0.432);
}

.count > app-announce {
  grid-column: 1 / 3;
  background-color: rgba(124, 13, 228, 0.548);
}

