.today{
  border: 4px solid rgb(233, 229, 229);
  color: black;
  text-align:  center;
  padding-bottom: 2em;
  font-size: 20px;
  padding-top: 1.5em;
  background-color: rgba(134, 126, 247, 0.329);
  color: antiquewhite
}
.today h1 {
  margin-bottom: 0;
}
.today code{
  background-color: rgb(150, 226, 220);
  color: hsl(332, 94%, 21%);
  font-size: 1em;
  display: inline-block;
  min-width: 150px;
  /* height:1.5em; */
  padding: 3px 40px;
  text-align: center;
  vertical-align: baseline;
}
.today h1>code{
  padding: 3px 120px;
  /* font-family: digital; */
}

.today button{
  vertical-align: text-top;
  margin: auto 10px;
  font-size: 0.5em;
  font-weight: 600;
  display: inline;
  background-color: rgba(84, 84, 240, 0.26);
}


.today .hiddenDOM{
  display:none;
}



